/* GIC has some longer names, so we make the login box wider */
#frmAuth0Login {
	width: 450px;
}
#main-content {
    width: 80%;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
#patient-count-box {
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    padding: 40px 0px;
    background-color: rgb(223, 238, 255);
    border-radius: 4px;
}
.query-builder-heading {
   color: gray;
}
.advanced-search-btn {
   top: 2em;
}
.query-name {
   font-size: 2.5em;
}
.large {
    font-size: 5em;
}
.medium {
    font-size: 1.5em;
}
.small {
    font-size: .75em;
}
.center {
    text-align: center;
    display: block;
}
.blue {
    color: black;
}
.autocomplete-category {
    font-size: .7em;
    color: #bf6d6d;
}
.autocomplete-term-parent {
    font-size: .7em;
    color: lightblue;
}

.autocomplete-term {
    cursor: pointer;
}

.autocomplete-suggestions {
   overflow-y: auto;;
   border-bottom: 1px solid lightgrey;
}

.suggestion-container {
   border: solid;
   border-top: 0px;
   border-color: lightgrey;
   border-width: 1px;
   background-color: white;
   padding: 5px;
}

#filter-list {
    width: 100%;
}
.filter-list-entry {
    padding: 10px 10px 10px 10px;
}
.filter-row {
    width: 100%;
}
.filter-search-row {
    background-color: rgb(223, 238, 255);
    padding: 10px;
}

.filter-search {
    background-color: rgb(223, 238, 255);
}

.filter-boolean-operator-btn {
    background-color: #4a90e2;
    color: white;
}

.spinner-div {
   float:right	
}

.search-box-spinner {
    position: absolute !important;
    right: 1.5em;
    left: auto !important;
}
.logo-img {
    max-height: 90px;
    max-width: 275px;
    padding-top: 10px;
}
#header {
    color: black;
    width: 100%;
    background-color: white;
}
#header-content {
    width: 80%;
    height: 80px;
    overflow: hidden;
}
.header-btn {
   box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
   border-bottom-style: solid;
   border-bottom-width: 10px;
   border-bottom-color: white;
}
.header-btn.active {
    border-color: #999;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #fff;
    color: black;
}
.header-btn:hover {
    border-bottom-color: #6d6e70;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.help-btn {
    background-color: white;
    border: none;
    width:5em;
    border-radius: 0px;
    float: right;
    color: black;
}

.dropdown.header-btn {
   padding: 0px 0px;
}
.dropdown-toggle {
   padding: 6px 12px;
   display: inline-block;
}
.spinner {
    position: absolute;
    margin-top: 5px;
    border-radius: 50%;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #4e92df;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
}
.spinner-medium {
    width: 40px;
    height: 40px;
}
.spinner-large {
    width: 60px;
    height: 60px;
    border-width: 10px;
    margin-top: 10px;
}
.spinner-center {
    left: 50%;
    margin-left: -10px;
}
.spinner-medium-center {
    left: 50%;
    margin-left: -20px;
}
.spinner-large-center {
    left: 50%;
    margin-left: -30px;
}
@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform : rotate(360deg);}
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform : rotate(360deg);}
}

.picsure-border-frame {
   border: 2px solid rgb(223, 238, 255);
   border-top: 0px;
}

.list-group-item {
   border: none;
   /* border-bottom: 1px solid #e0eeff !important; */
}

.filter-result-entry {
   padding: 5px 10px;
}

.node-tree-view .icon {
   color: #65a1e6;
}

.treeview .list-group-item {
   border-top: 1px solid rgb(223, 238, 255);
   border-radius: 0px !important;
}

.list-group-item:last-child {
   margin-bottom: -20px;
   font-weight: bold;
}

.tab-row {
   margin-right: -10px;
   margin-left: -10px;
}

.tab-pane {
   overflow-y: auto;
   max-height: 300px;
   background: white;
   border-bottom: 1px solid rgb(223, 238, 255);
}

.nav-pills {
   padding: 10px;
}

.nav-pills>li {
   padding-right: 10px;
}

.nav>li>a {
   padding: 5px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
   width: 7px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
   background: #888;
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}

.filter-saved {
   display: none;
}

.saved .filter-saved {
   display: block !important;
}

.saved .filter-edit {
   display: none;
}

.filter-result-saved {
   font-size: 1.2em;
}

.constrain-filter {
   margin-left: 40px;
}

.constrain-row {
   background-color: rgb(193, 222, 254);
   padding: 10px;
}

.constrain-filter button {
   border-radius: 0px;
   width: 100%;
}

.constrain-filter input {
   border-radius: 0px;
}

.constrain-filter .constrain-filter-btn {
   padding-right: 5px;
   padding-left: 5px;
}

.constrain-filter .constrain-filter-input {
   padding: 0px;
}

.validation-message div {
   text-align: center;
}

.field-invalid  {
   border: 2px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
   margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
   -moz-appearance:textfield;
}

#footer-content{
   background-image: linear-gradient(white, #ddd);
   padding-top: .5em;
   padding-bottom: .5em;
}
#footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}


/* Updates 11/1/2019*/
.modal-dialog {
   width: 70%;
   margin: 30px auto;
}

.container {
   padding-right: 0; 
   padding-left: 0;
}

.row {
   margin-right: 15px;
   margin-left: 15px;
}

.sub-nav-pills {
   padding: 10px;
   border: 1px solid #6d6e70;
   border-radius: 0 0 4px 4px;
}

.sub-nav-pills>li {
   padding-right: 10px;
   float: left;
}

.subcat-row {
   background-color: rgb(223, 238, 255)
}

body {
   background-color: #f4f4f6;
   font-family: 'Nunito Sans', sans-serif;
}

#header-content {
   width: 100%;
   height: unset;
   overflow: visible;
}


.autocomplete-term-parent {
   color: #337ab7;
}

.top-bar__btn {
   background-color: #6d6e70;
   color: #ffffff;
   border-radius: unset;
}


.category-restriction-type-row {
   display:flex;
   flex-direction: row;
   padding-bottom: 5px;
}

.category-filter-restriction-container {
   flex: 1;
}

.resizable-select-div {
   resize: both;
   overflow: auto;
   border: 1px solid #6d6e70;
   padding: 5px;
   min-height: 175px;
   width: 40%;
/*    display: table-cell;  */
   display: flex;
   flex-direction: column;
}

.multi-select-box {
   flex: 1;
}

#pic-sure-instances {
   width: 90%;
}

.value-operator-range-label {
   width: unset;
}

.filter-qualifier {
   display: contents;
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}

.filter-search-row {
   background-color: rgb(223, 238, 255);
   padding: 10px;
   border-radius: 4px;
   margin-left: 0;
   margin-right: 0;
}

.search-box, .filter-search-box {
   width: 80%;
}

.tab-pane {
   overflow-y: unset;
   max-height: unset;
}

.search-result-list {
   overflow-y: auto;
   max-height: 300px;
   border-bottom: 1px solid rgb(223, 238, 255);
}

.search-value {
   word-break: break-all;
}

.filter-list-entry {
   margin-left: 0;
   margin-right: 0;
}

.constrain-filter {
  margin-left: 0;
}

.constrain-filter button {
   width: unset;
}

.constrain-filter input, .constrain-filter-label {
   padding: 3px 3px;
   text-align: center;
}

.constrain-filter-btn {
   min-width: 160px;
}
.back-btn {
   float: right;
}
.constrain-range-separator {
   width: unset;
   top: 10px;
   float:left;
}
.constrain-apply-btn {
   background-color: #4a90e2;
   color: white;
   border-radius: 0px;
}

.value-type-select, .constrain-type-select {
   float:left;
   width: auto
}

.edit {
   padding: 6px 6px;
   width: unset;
  float:right;
} 

.delete {
   float: right;
}

.change-constraint {
   float: right;
}

.search-tooltip-help-icon {
   float: left;
}

#prepare-btn {
   position: -webkit-sticky;
   position: sticky;
   bottom: 25px;
}

.anyvalueof-value-list {
   max-height: 300px;
   overflow: auto;
   border: 1px solid;
   padding: 4px;
   border-radius: 5px;
}

.picsure-result-id, .picsure-result-id-label  {
   text-align: center;
}

.query-result-container{
   width: 90%;
}

.spinner-small {
    width: 26px;
    height: 26px;
}

.spinner-small-center {
    left: 50%;
    margin-left: -13px;
}

.copy-button {
   margin-left: auto;
   margin-right: auto;
}

.advanced-search-btn {
   float:right;
   margin-right: 100px;
}

.results-div {
   position: sticky;
   bottom: 25px;
   padding: 5px;
   padding-bottom: 25px;
   background-color: #f4f4f6;
}
.numeric-label {
   padding-top: 10px;
}

.numeric-separator {
   width: 100%;	
   text-align: center;
}

.modal {
   max-height: 100%;
   overflow-y: auto;
}

.modal-body {
   overflow-x: scroll;
}


/* Following styles mported from psamaui as part of ALS-1636 */
.table-picsure {
   border-collapse: collapse;
   width: 100%;
}

.table-picsure thead {
   border: 1px solid rgb(74, 144, 226);
   border-bottom: 0px;
}

.table-picsure th {
   color: white;
   padding: 10px;
}

.table-picsure td {
   border: 1px solid #b2cfeb;
   text-align: left;
   padding: 10px;
}

.table-picsure tbody td:nth-child(1) {
   font-weight: bold;
   color: #007eff;
   cursor: pointer;
}

.table-picsure tbody tr:nth-child(odd) {
   background-color: #deeaf6;
}

.table-inactive td {
   border: 1px solid #cfcfcf !important;
}

.table-inactive tbody td:nth-child(1) {
   color: #606060 !important;
}

.table-inactive tbody tr:nth-child(odd) {
   background-color: #dddddd !important;
}

.header-color {
   background: rgb(74, 144, 226);
}

.header-tool {
   font-size: 2.0em;
}


.btn-success:disabled, .btn-success:disabled:hover{
   border: 1px solid #999999;
   background-color: #cccccc;
   color: #666666;
}

.btn-right {
   float: right;
}

.btn-picsure-xs {
   padding: 2px;
}

.btn-picsure-sm {
   padding: 4px;
}

#current-connection-form {
   width: inherit;
}

.margin-top-ten {
   margin-top: 10px;
}

.bordered-block {
   margin-top: 3px;
   margin-bottom: 3px;
   padding: 6px;
   border: 1px solid #4a90e2;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
   background-color: #cddfeb;
}

.btn-show-inactive {
   margin: 10px;
   color: #fff;
   background-color: #6c757d;
   border-color: #6c757d;
   float: right;
}

.badge-danger {
   color: #fff;
   background-color: #dc3545;
}
.badge-success {
   color: #fff;
   background-color: #28a745;
}
.badge-warning {
   color: #212529;
   background-color: #ffc107;
}

.footer-row {
   margin-right: 15px;
   margin-left: 15px;
}

.login-logo {
   width:100%;
}

.fence-login-btn {
   display: inline;
   padding: 5px;
   background-color: #d0d0d0;
}

.fence-login-img {
   height:16px;
}

/* merging webtask code */
#frmAuth0Login {
   width: 280px;
   margin: 30px auto;
}

.a0-body-content {
   padding: 30px;
   border-radius: 0 0 3px 3px;
   box-shadow: 0 0 2px rgb(17 17 24 / 60%);
}

.a0-zocial {
   white-space: nowrap;
   position: relative;
   display: block;
   border-radius: 3px;
   padding: 0;
   overflow: hidden;
   text-decoration: none !important;
   color: #fff;
   height: 47px;
}

.a0-zocial:hover {
   filter: brightness(85%);
   color: #fff;
   cursor: pointer;
}

.a0-zocial-icon {
   max-height: 100%;
   max-width: 100%;
}

.a0-button-text {
   text-transform: none;
}

/* default hidden class is flagged as important, so can't be unset with show() */
.intitially-hidden {
   display: none;
}

.output-button-container {
   width: 90%;
}

/* Dataset Requests Additions */

.request-search-row {
    display: inline-block;
    width: 100%;
    position: relative;
}

.request-search-box {
    width: 60%;
}

.request-result-search-label {
   width: 141px;
}

.request-search-button {
   padding: 0 1.5rem;
   margin-left: 1.5rem;
}

.request-search-clear-button {
   font-size: 25px;
   padding: 0;
   border: 0;
   background: none;
   position: absolute;
   left: calc((141px + 60%) - 24px);
}

.request-result-row {
    width: 100%;
    margin-top: 3em;
}

.request-result-table {
   width: 100%;
   margin-top: 4rem;
}

.request-result-row {
   width: 100%;
}

.request-result-data {
   width: 20%;
   text-align: center;
   border-right: solid black 0.2em;
   border-left: solid black 0.2em;
}

.request-result-data:first-of-type {
   width: 40%;
   border-right: none;
}

.request-result-data:last-of-type {
   border-left: none;
}

.request-result-data-header {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.request-result-data-button {
    margin: 0 auto;
}

.request-search-none {
   text-align: center;
   margin-top: 2em;
}
