/* Add your custom styles here */

/* Dataset Requests Additions */

.request-search-row {
    display: inline-block;
    width: 100%;
    position: relative;
}

.request-search-box {
    width: 60%;
}

.request-result-search-label {
   width: 141px;
}

.request-search-button {
   padding: 0 1.5rem;
   margin-left: 1.5rem;
   border: var(--picsure-alt);
   border-width: 2px;
   border-style: solid;
   border-radius: 3px;
   padding: 6px 12px;
}

.request-search-button:hover {
   background: var(--picsure-alt);
}

.request-search-clear-button:hover {
    background: #eb8673;
}

.request-search-clear-button {
   padding: 0 1.5rem;
   margin-left: 1.5rem;
   border: #ed4021;
   color: #ed4021;
   border-width: 2px;
   border-style: solid;
   border-radius: 3px;
   padding: 6px 12px;
}

.request-result-row {
    width: 100%;
}

.request-result-table {
   width: 100%;
   margin-top: 4rem;
}

.request-result-data {
   width: 20%;
   text-align: center;
   border-right: solid black 0.2em;
   border-left: solid black 0.2em;
}

.request-result-data:first-of-type {
   width: 40%;
   border-right: none;
}

.request-result-data:last-of-type {
   border-left: none;
}

.request-result-data-header {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.request-result-data-button {
    margin: 0 auto;
}

.request-search-none {
   text-align: center;
   margin-top: 2em;
}

.circle-border {
	display: inline-table;
	text-align: center;
	margin: 0 16px;
	border: 1px solid var(--picsure-primary);
	border-radius: 50%;
	height: 35px;
	width: 35px;
	line-height: 33px;
	flex-shrink: 0;
}

.request-result-icon {
    padding-right: 5px;
    margin-top: 0px;
}

.header-with-icon {
    margin: 5px;
    display: inline;
}

.divider {
    width: 90%;
    border-bottom: 2px solid var(--picsure-primary);
    padding-bottom: 5px;
}

.centered-flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.request-result-header {
    paddding: 10px;
    text-align:center;
}

.soft-border {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px;
}