<div id="upload-data-alert">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 5px;">
            <p>Sending data from PIC-SURE to Service Workbench can take several minutes.</p>
            <p>To update the status of your data upload, click the refresh button <i class="fa-solid fa-arrows-rotate"></i></p>
        </div>
    </div>
    <div class="row">
        <section id="buttons" style="display: flex; flex-direction: column; align-items: center;">
            <button
                    id="upload-data-alert-ok-btn" class="btn btn-outline tabable"
                    tabindex="1" type="button" style="width: 100px;"
            >
                Ok, Got it!
            </button>
            <div>
                <input type="checkbox" id="upload-data-alert-no-remind">
                <label for="upload-data-alert-no-remind">Don't show this again.</label>
            </div>
        </section>
    </div>

</div>