<div id="data-types-help">
    <ul>
        <li>
            <b>Phenotypic Data: </b>Clinical data, electronic health record information
        </li>
        <li>
            <b>Annotated variant data for selected genes: </b>The annotated variant data is sourced from the combined,
            annotated VCF and represents the patient cohort selected by the applied genomic and clinical filters. The
            original sample VCFs have been annotated using the Ensembl Variant Effect Predictor (VEP) to provide
            additional annotations and determine the effects of each variant. Modifier variants have been removed.
            To learn more visit the <a href="https://pic-sure.gitbook.io/genomic-information-commons/pic-sure-features/variant-explorer">User Guide</a>.
        </li>
    </ul>
</div>