<div id="data-types-help">
    <ul>
        <li>
            <b>Phenotypic Data: </b>Clinical data, electronic health record information
        </li>
        <li>
            <b>Annotated variant data for selected genes: </b>The annotated genomic variants are sourced from the
            combined and annotated VCF files, representing the variant set from patient cohort as defined by the
            applied genomic and clinical filters in Query Builder. The original VCF files have been annotated using the
            Ensembl Variant Effect Predictor (VEP), offering a set of variant-level annotations including the calculated
            functional effect of each variant. To learn more, please visit
            the <a href="https://pic-sure.gitbook.io/genomic-information-commons/pic-sure-features/variant-explorer">User Guide</a>.
        </li>
    </ul>
</div>