<div id="data-store-location-help">
    <ul>
        <li>
            Select the <b>Lead PI's Home Institution</b> from the drop-down menu
            <div style="margin-left: 20px;">
                <i>
                    The lead PI is indicated on the RedCap form under the
                    "Lead Principal Investigator's Institutional Affiliation"
                </i>
            </div>
        </li>
        <li>
            The "Host Site" refers to the lead PI’s home institution. The patient-level data will
            be stored in this institutional AWS-linked account.
        </li>
        <li>
            All collaborators listed on the RedCap form approved by the local SDAC
            will have access to the data within Service Workbench.
        </li>
    </ul>
</div>