<div class="col-md-4 request-result-header"><h4>Send Data to SWB</h4></div>
<div class="col-md-4 request-result-header"><h4>Lead Site:</h4></div>
<div class="col-md-4 request-result-header"><h4>Status</h4></div>
<div class="col-md-12 centered-flex-container" style="padding-bottom: 5px;">
    <div class="divider"></div>
</div>
<div class="col-md-4 request-result-header">
    <h3 class="fa-solid fa-arrow-up-from-bracket request-result-icon"></h3>Send patient level data
</div>
<div class="col-md-4 request-result-header">{{site}}</div>
<div class="col-md-4 request-result-header">
    <i class="fa-solid success fa-circle-xmark request-result-icon"></i>{{sharingStatus}}
</div>