<div class="col-md-4 request-result-header">{{s3Directory}}</div>
<div class="col-md-4 request-result-header">{{queryStartDate}}</div>
<div class="col-md-4 centered-flex-container">
    <div style="padding: 5px;"><button id="data-request-btn" class="btn btn-outline primary">
        <i class="fa-solid fa-file-pdf fa-xl request-result-icon"></i>Data Request Summary</button>
    </div>
    <div style="padding: 5px;"><button id="ids-and-consents-btn" class="btn btn-outline primary">
        <i class="fa-solid fa-file fa-xl request-result-icon"></i>Patient IDs &amp; Consents</button>
    </div>
</div>