<div id="dataset-requests" class="col-md-12 centered-flex-container">
    <div id="dataset-request-1" style="width: 90%; margin-bottom: 10px;">
        <span class="circle-border">1</span>
        <h2 class="header-with-icon" style="display: inline;">Search for Dataset ID:</h2>
        <!--Search Bar -->
        <input style="display:inline-block" id="dataset-request-search-input"
                class="request-search-box form-control" placeholder="001234567-89ab-cdef-fedc-98765432100"
                value="{{searchValue}}"
        >
        </input>
        <button id="dataset-request-search-button" class="btn btn-primary">Search</button>
    </div>
    <div id="dataset-request-2" style="width: 90%; display:none;">
        <span class="circle-border">2</span>
        <h2 class="header-with-icon" style="display: inline;">Review Dataset Request:</h2>
        <!--Results Table-->
        <div id="request-result-header">
            <div class="col-md-6 request-result-header"><h4>Dataset Information</h4></div>
            <div class="col-md-6 request-result-header"><h4>Data Request Approval</h4></div>
        </div>
        <div class="col-md-12 centered-flex-container">
            <div class="divider"></div>
        </div>
        <div id="request-search-result-container">
            <!--Results go here-->
        </div>
    </div>

</div>
