<td class="request-result-data">{{queryID}}</td>
<td class="request-result-data">{{queryStartDate}}</td>
<td class="request-result-data">
    <button class="request-result-data-button btn glyphicon glyphicon-download-alt"></button>
</td>
