<div class="col-md-4 request-result-header">{{s3Directory}}</div>
<div class="col-md-4 request-result-header">{{queryStartDate}}</div>
<div class="col-md-4 centered-flex-container">
    <div style="padding: 5px;"><h2 class="fa-solid fa-file-pdf request-result-icon"></h2>Data Request Summary</div>
    <div style="padding: 5px;"><h2 class="fa-solid fa-file request-result-icon"></h2>Patient IDs & Consents</div>
</div>