<div class="request-search-row">
    <label for="dataset-request-search-input">Search for query ID:</label>
    <input style="display:inline-block"  id="dataset-request-search-input" class="request-search-box form-control" placeholder="Search..." value="{{searchValue}}"></input>
</div>
<div id="request-search-result-container"></div>
