<div class="request-result-row">
    <div class="request-result-section">
        <span class="request-result-data request-result-data-header">Query ID</span>
        <span class="request-result-data">{{queryID}}</span>
    </div>
    <div class="request-result-section">
        <span class="request-result-data request-result-data-header">Date</span>
        <span class="request-result-data">{{queryStartDate}}</span>
    </div>
    <div class="request-result-section">
        <span class="request-result-data request-result-data-header">Download JSON</span>
        <button class="request-result-data request-result-data-button btn glyphicon glyphicon-download-alt"></button>
    </div>
</div>